# Backend
backend/venv/

# Frontend
frontend/node_modules/

# Docker
docker-compose.yml

# Environment variables
.env
.env.local

# Frontend local env
frontend/.env.local

# Logs
logs/

# Cache
cache/

